<!-- <div class = "basic-container"> -->
<!--     <div class="small-6  small-offset-3 columns"> -->
<!--     <div class="columns small-12 medium-6"> -->
		<h1>Edit Profile</h1>
		<%= render partial: 'users/form' %>
<!-- 	</div> -->
 <!-- </div>