<div class="user_new">
	<header class="user_new_header">Sign Up<br><strong>Create an <span style="font-size: 1.3em; color: red;">Agent</span> </strong></header>
</div>
	<%= render partial: 'form' %>


