<div class="welcome_container">
	
	<div class="welcome_agents">
		<header class="welcome_header">Open-House <br>Organizer</header>
		<div class="row text-center">
			<%= image_tag 'open_house_sign.jpg' , id: "sign"%>
		</div>
	</div>

</div>