/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.openhouse {
	height: 46px;
	width: 46px;
}

.title {
	font-size: 20px;
}

p, a, h3 {
	font-family: 'Abril Fatface', sans-serif;
}

.accordion dd > a {
	font-size: 18px;
	font-family: 'Abril Fatface', sans-serif;
	}

/*.basic-container, table {
	margin: 0 auto;
}*/


@media (max-width: 480px) {}