/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.openhouse {
	height: 46px;
	width: 46px;
}


.title {
	font-size: 20px;
}

p, a, h3 {
	font-family: 'Abril Fatface', sans-serif;
}
.no-pad{
	padding: 0 !important;
}
.accordion dd > a {
	font-size: 18px;
	font-family: 'Abril Fatface', sans-serif;
	}

	  .step {
        display: inline-block;
        line-height: 1;
        width: 10%;
      }

       .size-24 { font-size: 24px; }

.top-bar {
	background:#006600;
}

ul.dropdown {
	background:#006600;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #006600;
}
.title-area a {
	background: #006600;
}

.toggle-topbar menu-icon {
	background: #006600;
}

/* Mobile for table feature */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}
