// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
	height: 300px;
	width: 300px;
	/*margin: 0 auto;*/
	border: 2px solid black;
}

// .backbtn, .small {
// 	margin: 0 auto;
// }

a {

}

.columns small-12 medium-6, p {
	margin: 3%;
	padding-bottom:0%;
}

.basic-container, table {
	margin: 0 auto;
		// .backbtn, .small {
		// 	margin-left: 14.5%;
		// }
}
.day-list{
	.columns{
		min-height: 1px;
		font-family: helvetica;
	}
}
.visitor-row{
	padding-bottom: 10px;
	line-height: 20px;
	&:nth-child(odd){
	}
}

.panel {
	border-width:0;

}

.panel.callout {
	border-color:#E0E0E0;
	background: #E0E0E0;
}
.accordion .content.active{
	background: none;
}

.accordion a {
	// background: #efefef;
}

.accordion dd.active > a {
	background: #a8a8a8;
	// z-index: -1;
}

.accordion dd > a:hover {
	background:#a8a8a8;
	// border:2px solid #E0E0E0;
}

.accordion dd > a {
	background:#E0E0E0;
}
.accordion a:hover {
	// box-shadow: 0px 0px 10px #333333;
}
.tabs dd.active a{
	background: #a8a8a8;
	border-radius: 3px;
}

.tabs a:hover {
	background: #D3D3D3;
	// opacity: .10;
	box-shadow: 0px 0px 10px #333333;
}

.button {
	background: #37c77f;
	border-radius:3px;
}

.button:hover{
	background:#37c77f;
	border-radius:6px;
}

@media (max-width: 480px) {



	.visitor-row{
		padding-bottom: 15px;
		line-height: 25px;
		&:nth-child(odd){
		}
	}
	.columns small-12 medium-6, p {
	margin: 0 auto;
	}
		.basic-container, table {
			.backbtn, .small {
				margin-left: 1%;
			}
		}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 930px) {
	.backbtn1 a {
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1080px) {
	.backbtn_1 a {
		margin-left:10%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1277px) {
	.backbtn_1 a {
		margin-left: 14%;
	}
}

@media (min-width: 1280px) {
	.backbtn_1 a {
		margin-left: 10%;
	}
	h3.addhome {
	margin-left: 11%;
	}
}

@media (min-width: 1366px) {
	.backbtn_1 a, h3.addhome {
		margin-left: 13%;
	}

}
@media (min-width: 1680px) {
	.backbtn_1 a, h3.addhome {
		margin-left: 20%;
	}
}

@media (min-width: 1700px) {
	.backbtn_1 a {
		margin-left: 21%;
	}
}

@media (min-width: 1820px) {
		.backbtn_1 a {
		margin-left: 22.5%;
	}
}


@media (min-width: 2000px) {
		.backbtn_1 a {
		margin-left: 24.5%;
	}
}
@media (min-width: 2380px) {
		.backbtn_1 a {
		margin-left: 28.5%;
	}
}
@media (min-width: 2554px) {
		.backbtn_1 a {
		margin-left: 30.5%;
	}
}
