// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
	height: 300px;
	width: 300px;
	/*margin: 0 auto;*/
	border: 2px solid black;
}

.backbtn, .small {
	margin: 0 auto;
}

.columns small-12 medium-6, p {
	margin: 3%;
	padding-bottom:0%;
}

.basic-container, table {
	margin: 0 auto;
		.backbtn, .small {
			margin-left: 14.5%;
		}
}

@media (max-width: 480px) {

	.columns small-12 medium-6, p {
	margin: 0 auto;
	}
		.basic-container, table {
			.backbtn, .small {
				margin-left: 1%;
			}
		}
}