// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
	height: 300px;
	width: 300px;
	/*margin: 0 auto;*/
	border: 2px solid black;
}

.backbtn, .small {
	margin: 0 auto;
}

.columns small-12 medium-6, p {
	margin: 3%;
	padding-bottom:0%;
}

.basic-container, table {
	margin: 0 auto;
		.backbtn, .small {
			margin-left: 14.5%;
		}
}
.day-list{
	.columns{
		min-height: 1px;
	}
}
.visitor-row{
	padding-bottom: 10px;
	line-height: 20px;
	&:nth-child(odd){
	}
}
.accordion .content.active{
	background: none;
}
.tabs dd.active a{
	background-color: lighten(#006600, 7%);
	border-radius: 3px;
}

@media (max-width: 480px) {

	.visitor-row{
		padding-bottom: 15px;
		line-height: 25px;
		&:nth-child(odd){
		}
	}
	.columns small-12 medium-6, p {
	margin: 0 auto;
	}
		.basic-container, table {
			.backbtn, .small {
				margin-left: 1%;
			}
		}
}